@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}

.container {
    min-height: 100vh;
    color : #000;
    font-family: Montserrat, sans-serif; 
    font-weight: 550;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-container{
    display: inline-block;
    align-items: center;
    padding: 20px 30px;
    /* border: 1px solid black; */
    border-radius:10px;
    box-shadow: 5px 10px 10px 10px rgba(240, 240, 240, 0.7);
    background-color: rgba(240, 240, 240, 0.116);
    width: auto;
    max-width: 900px;
}
.quote-text{
    font-size: 2rem
}
.long-quote{
    font-size: 1rem;
}
.fa-quote-left{
    font-size: 4rem;
}
.quote-author{
    margin-top: 20px;
    font-size: 1rem;
    font-style: italic;
}
@media screen and (max-width : 1000px) {
    .quote-container{
        margin : auto 10px;
    }
    .quote-text{
        font-size: 1.2rem;
    }
}